/*Posts Cards Styles*/

.Card {
  background-color: #e9e9e8; 
  background-color: #e5e5dc;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(229%2c 229%2c 219%2c 1)'%3e%3c/rect%3e%3cpath d='M457.23 111.88 a7.6 7.6 0 1 0 15.2 0 a7.6 7.6 0 1 0 -15.2 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M119.18 321.03a20.54 20.54 0 1 0-40.19-8.5z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M990.87 89.43 a26.99 26.99 0 1 0 53.98 0 a26.99 26.99 0 1 0 -53.98 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M664.47 256.18a2.15 2.15 0 1 0 0.47 4.27z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M560.82 180.18L590.16 180.18L590.16 209.52L560.82 209.52z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1084.16 320.01L1115.29 320.01L1115.29 351.14L1084.16 351.14z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M380.43 400.08L418.32 400.08L418.32 449.32L380.43 449.32z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M99.39 99.22a22.58 22.58 0 1 0 0.41-45.16z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M481.95 542.42L524.53 542.42L524.53 594.88L481.95 594.88z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M606.3 127.13L649.89 127.13L649.89 173.79L606.3 173.79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M418.44 28.11L424.4 28.11L424.4 72.87L418.44 72.87z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1373.53 126.17a6.8 6.8 0 1 0-5.8 12.3z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M296.48 420.13L352.33 420.13L352.33 475.98L296.48 475.98z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M479.99 250.63L517.67 250.63L517.67 268.55L479.99 268.55z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M78.97 147.42 a39.49 39.49 0 1 0 78.98 0 a39.49 39.49 0 1 0 -78.98 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M100.71 379.64L135.76 379.64L135.76 403.89L100.71 403.89z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M337.16 485.75a36.05 36.05 0 1 0 31.6-64.8z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M30.67 266.18a28.8 28.8 0 1 0-54.34 19.12z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M781.81 353.31a40.08 40.08 0 1 0-80.16-0.23z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M686.38 223.58L727.39 223.58L727.39 243.86L686.38 243.86z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M344.32 482.11L355.16 482.11L355.16 524.52L344.32 524.52z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M342.14 504.59L382.38 504.59L382.38 538.6L342.14 538.6z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1387.78 69.67a26.07 26.07 0 1 0-21.31 47.59z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M137.61 332.39a47.67 47.67 0 1 0 91.46 26.92z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M437.05 131.53L444.05 131.53L444.05 157.18L437.05 157.18z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M816.25 296.07 a54.25 54.25 0 1 0 108.5 0 a54.25 54.25 0 1 0 -108.5 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M985.68 492.15 a14.31 14.31 0 1 0 28.62 0 a14.31 14.31 0 1 0 -28.62 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1431.59 390.19a46.73 46.73 0 1 0 2.53-93.43z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1380.76 351.01L1435.67 351.01L1435.67 366.93L1380.76 366.93z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1044.16 339.79a47.8 47.8 0 1 0-46.44 83.57z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M124.22 122.77L126.76 122.77L126.76 125.31L124.22 125.31z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1265.92 317.05L1299 317.05L1299 350.13L1265.92 350.13z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1249.05 159.74L1298.98 159.74L1298.98 209.67L1249.05 209.67z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  transition: 0.35s;
  border-radius: 16px; 
  margin: 5.1px;
  padding-bottom: 0.5em;
}

.Card > img {
  border-radius: 15px 15px 0 0;
  width: 99%;
}

.postcontent > p {
  justify-content: center;
  font-weight: bold; 
}

.postcontent > button {
  display: block;
  margin: 0 auto;
}


.postcontent > h3 {
  font-size: 1.75em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.postcontent > h5 {
  font-size: 1.25em;
  font-weight: 510;
  margin-top: 0em;
  margin-bottom: 0em;
}

.postcontent > h6 {
  font-size: 1em;
  font-weight: 510;
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.Card:hover {
  transform: scale(1.026); 
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
}

.postcontent {
  margin: 0.51em;
}

/*ProFile Card Styles*/

.ProfileCard {
  display: grid;
  background-color: #e5e5db;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(39, 26%, 91%, 1)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='1' stroke='hsla(29, 90%, 58%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  padding: 1em;
  border-radius: 15px;
  float: right;
  margin-bottom: 1em;
  
}

.ProfileCard h3 {
  padding-left: 0em;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.ProfileCard p {
  padding-left: 1em;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.ProfileCard img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
}